

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  background: #fff; 
  padding: 8px;
  
}

.title {
  background: #e3f4ff;
  padding: 10px 8px;
  margin: 21px 0px 8px 0px;
}

.content {
  background: #e3f4ff;
  margin: 0px 0px 8px 0px;
  padding: 8px 8px;
}

.button-container {
  background: #e3f4ff;
  padding: 8px 0px;
  text-align: center;
  
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  margin: auto;
  
}